/* 
    Created on : Nov 18, 2017, 11:59:40 AM
    Author     : Shaun
*/
#instructions {
    font-family:oblique;
    text-align:center;
    font-weight:bold;
    font-size:190%;
    margin-top:2%;
    color:#DB7093;
}

.tutorIcons {
    height: 230px;
    position: absolute;
    margin-top: 5%;
}

.tutorButton{
    font-size:100%;
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    padding:25px 15px 16px 15px;
    border-radius:8px;
    position:absolute;
    color:#8B008B;
    font-weight:bold;
}

.tutorButton:hover{
    background: linear-gradient(to left, #ACB6E5, #74ebd5);
    text-decoration:underline;
    color:black;
}
