/* 
    Created on : Nov 18, 2017, 2:47:33 PM
    Author     : Shaun
*/

h2 {
    color: white;
    font-style: oblique;
    text-align: center;
}

table, th, td {
    background: linear-gradient(to right, #3f4c6b, #606c88); 
    color:white;
    padding-left:5px;
    font-style:oblique;
    border:1px solid white;
    border-collapse:collapse;
    margin-left:18%;	
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    background-repeat:no-repeat;
    padding:12px 12px 12px 12px;
}

td {
    vertical-align: top;
}

h4, p {
    margin: 0px 0px 5px 10px;
}

td.col1 {
    width: 180px;
}

td.col1 img {
    width: 160px;
}

td.col2 {
    width: 120px;
}

td.col3 {
    width: 500px;
}

td.col4 {
    padding-left: 25px;
    vertical-align: top;
}

td.col4 img{
    border: none;
    width: 100px;
}