/* 
    Created on : Nov 28, 2017, 3:21:13 PM
    Author     : Shaun
*/

.category {
    font-family:oblique;
    text-align:left;
    font-weight:bold;
    font-size:190%;
    margin-top:2%;
    color:#DB7093;
}

.youtubeVid {
    width: 230px;
    height: 230px;
    margin-top:60px;
    padding: 5px;
}